<%= div_for site, class: 'row' do %>
  <div class='col-md-4'>
    <h2><%= site.name %></h2>
  </div>
  <div class='col-md-4 text-center'>
    <%= render processing_partial site %>
  </div>
  <div class='col-md-4'>
    <%#= render healthy_partial site %>
  </div>
<% end %>