<h1>Sites</h1>
<div class='row heading'>
  <div class='col-md-4'>Site Name</div>
  <div class='col-md-4 text-center'>Processing</div>
  <div class='col-md-4 text-center'>Healthy</div>
</div>
<%= render @sites %>
