.status-warning
  color: $brand-warning

.status-success
  color: $brand-success

.status-danger
  color: $brand-danger

a
  color: #999

a:hover
  text-decoration: none
  color: #333

div.container
  > h1,  > h2,  > h3,  > h4, > h5, > h6
    margin-bottom: 20px

.panel
  h1, h2, h3, h4, h5, h6
    margin: 0px !important