body.writefully.sites
  h1, h2, h3, h4, h5, h6
    font-weight: 100
    margin-bottom: 20px

  form#new_site
    margin-top: 40px
    p.form-info
      padding: 10px

  div.heading
    border-top: 1px solid #eee
    padding-top: 10px
    margin-bottom: 10px

  div.site
    border-top: 1px solid #eee
    h2
      font-weight: 200