<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class='container-fluid'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Writefully", root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <%= render 'super_admin' if current_wf_authorship.role == 'super_admin' %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to current_wf_authorship, edit_profile_path %></li>
        <li><%= link_to "Sign Out", signout_path %></li>
      </ul>
    </div>
  </div>
</nav>