<%= render 'writefully/sites/show/heading' %>
<%= render 'writefully/sites/show/tabs' %>
<div id='posts' class='panel panel-default'>
  <div class='panel-body'>
    <%= render @site.posts %>
  </div>
</div>